<!-- <mat-grid-list cols="1" rowHeight="15rem">
    <div class="header">

        <mat-grid-tile>
            <button class="center" mat-stroked-button color="basic" (click)="openDialog()">Δημιουργία Αγγελίας</button>
        </mat-grid-tile>

    </div>
</mat-grid-list> -->

<div class="section white header-section">
    <div class="container-fluid">

        <h2 class="header center white-text">Αναζήτηση αγγελιών</h2>

        <br>

        <div class="container">
            <form class="col s12">
                <div class="row center">
                    <a class="waves-effect waves-light btn-large" (click)="openDialog()">+ Δημιουργια Αγγελιας</a>
                </div>
                <h3 class="center white-text">ή</h3>
            </form>
        </div>

        <br>

    </div>
</div>