<ng-template #terms let-modal>
    <div class="row">
        <div class="col s11">
            <h1 mat-dialog-title>Όροι χρήσης</h1>
        </div>
        <div class="col s1">
            <button class="transparent-button" mat-button mat-icon-button mat-dialog-close aria-label="Clear">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>

    <div mat-dialog-content>
        <div class="row">
            <div class="col s12">

                <p>Παρακαλώ ενημερωθείτε για τους παρακάτω όρους και προϋποθέσεις.</p>

                <br>

                <h2>Γενικοί Όροι και προϋποθεις</h2>
                <p>1. Η παρούσα εφαρμογή έχει δημιουργηθεί εθελοντικά, με στόχο την βελτιστοποίηση προϋπάρχουσας ομάδας,
                    η οποία προβλέπει στην αποτελεσματικότερη αναζήτηση εργασίας και η χρήση της δεν αποσκοπεί σε κάποιο
                    οικονομικό όφελος.</p>
                <p>2. Αναρτήσεις οι οποίες δεν σχετίζονται με το περιεχόμενο της ομάδας, περιέχουν κακόβουλο περιεχόμενο
                    ή δεν αποδίδουν σοβαρού χαρακτήρος, θα αφαιρούνται.</p>
                <p>3. Τα δεδομένα που συλλέγονται διατηρούνται σε βάση δεδομένων, δεν γνωστοποιούνται και δεν
                    προορίζονται για οποιουδήποτε είδους εκμετάλλευση οικονομική ή άλλου τύπου από τρίτους, συμπεριλαμβανομένων και
                    των διαχειριστών της εφαρμογής.</p>
                <p>4. Οι όροι της παρούσης ενδέχεται να τροποποιηθούν με σκοπό την προσαρμογή σε μελλοντικές αλλαγές.
                </p>

                <br>

                <h2>Αποποίηση Ευθυνών</h2>
                <p>1. Την ευθύνη για το περιεχόμενο των αναρτήσεων αυτής της εφαρμογής έχουν αποκλειστικά τα πρόσωπα που
                    αναλαμβάνουν την δημοσιοποίηση αναρτήσεων.</p>
                <p>2. Οι υπεύθυνοι των αναρτήσεων επιβαρύνονται τυχόν επιπτώσεις που σχετίζονται με την οποιασδήποτε
                    μορφής διαρροή πληροφοριών των προσωπικών τους δεδομένων που δημοσιοποιούνται (ονομ/μο, τηλέφωνο, email,
                    τόπος διαμονής, κ.τλ).</p>

                <br>

                <h2>Προσωπικά Δεδομένα</h2>
                <p>1. Κατά την επίσκεψη στην συγκεκριμένη εφαρμογή, μπορεί να πραγματοποιείται καταγραφή της σύνδεσης των
                    επισκεπτών, με σκοπό την ασφάλεια του ιστότοπου από κακόβουλες επιθέσεις. Τα δεδομένα αυτά αποθηκεύονται
                    τηρώντας κάθε τύπου εχεμύθεια που σχετίζεται με τον Γενικό Κανονισμό Προστασίας των Προσωπικών Δεδομένων
                    (GDPR).
                </p>
                <p>2. Η εφαρμογή αυτή έχει δημιουργηθεί με τη βοήθεια εργαλείων διαθέσιμων από την Google,
                    συμπεριλαμβανομένης της λειτουργίας Google Analytics, η οποία μοιράζεται δεδομένα της εφαρμογής.</p>
                <p>3. Σε περίπτωση που διαφωνείτε με τα παραπάνω, μπορείτε να επικοινωνήσετε με το διαχειριστή της
                    εφαρμογής ώστε να διαγραφούν οι αναρτήσεις σας μαζί με όλα τα δεδομένα που αφορούν την επίσκεψή σας στον
                    ιστότοπο.
                </p>

                <br>

                <h2>Περιθώριο Βελτίωσης</h2>
                <p>1. Σε περίπτωση που παρατηρηθεί κάποια αστοχία στη λειτουργία της συγκεκριμένης εφαρμογής,
                    ενθαρρύνεται η αναφορά της μέσω της φόρμας επικοινωνίας που βρίσκεται στην καρτέλα “Επικοινωνία” του κεντρικού
                    μενού, επιλέγοντας τη θεματολογία μηνύματος “Προσωπικά δεδομένα”.</p>

            </div>
        </div>
    </div>
    <div mat-dialog-actions>

        <div class="section row right-align">
            <div class="col s12">
                <button class="waves-effect waves-light btn-large teal" mat-dialog-close>
                    Ενημερωθηκα
                </button>
            </div>
        </div>

    </div>
</ng-template>

<footer class="page-footer blue-grey darken-4">
    <div class="container">
        <br>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2021 Post-it
            <a class="grey-text text-lighten-4 right" (click)="openTermsDialog()">Όροι χρήσης</a>
        </div>
    </div>
    <br><br>
</footer>