<ng-template #terms let-modal>
    <div class="row">
        <div class="col s11">
            <h1 mat-dialog-title>Όροι χρήσης</h1>
        </div>
        <div class="col s1">
            <button class="transparent-button" mat-button mat-icon-button mat-dialog-close aria-label="Clear">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
  
    <div mat-dialog-content>
        <div class="row center">
            <div class="col s12">
               
              <h2></h2>
              <p></p>
  
            </div>
        </div>
    </div>
    <div mat-dialog-actions>
  
        <div class="section row center">
            <div class="col s6 m8 l11">
                <button class="waves-effect waves-light btn-large grey lighten-1" mat-dialog-close>
                    Ενημερωθηκα
                </button>
            </div>
        </div>
  
    </div>
  </ng-template>
  
<footer class="page-footer blue-grey darken-4">
    <div class="container">
        <br>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2021 Post-it
            <a class="grey-text text-lighten-4 right" (click)="openTermsDialog()">Όροι χρήσης</a>
        </div>
    </div>
</footer>


  