<div class="container">
    <div class="row">
        <div class="col s12">

            <br><br><br><br>

            <h1>Φόρμα επικοινωνίας</h1>

            <br><br>

            <div class="row">
                <div class="col s12 m12 l6">
                    <mat-form-field appearance="fill">
                        <mat-label>Επιλογή θεματολογίας</mat-label>
                        <mat-select [(ngModel)]="chosenContactType" [ngModelOptions]="{standalone: true}"
                            ngDefaultControl required>
                            <mat-option *ngFor="let contactType of contactTypes; let i = index;" [value]="contactType">
                                {{contactType}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col s12 m12 l6">
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" [(ngModel)]="userEmail"
                            [ngModelOptions]="{standalone: true}" ngDefaultControl required email maxlength="50">
                    </mat-form-field>
                </div>
            </div>

            <mat-form-field appearance="fill">
                <mat-label>Τίτλος θέματος</mat-label>
                <input matInput placeholder="Θέμα" [(ngModel)]="newIssueTitle" [ngModelOptions]="{standalone: true}"
                    ngDefaultControl required>
            </mat-form-field>

            <br><br>

            <mat-form-field appearance="fill">
                <mat-label>Περιγραφή</mat-label>
                <textarea matInput placeholder="Περιγραφή προβλήματος" [(ngModel)]="newIssueDescription"
                    [ngModelOptions]="{standalone: true}" ngDefaultControl required maxlength="1000"></textarea>
            </mat-form-field>

            <a class="waves-effect waves-light btn" (click)="postMessageToDb()">Αποστολη</a>

            <br><br><br><br>
            <br><br><br><br>
            <br><br><br><br>
            <br><br><br><br>

        </div>
    </div>
</div>