<nav class="grey lighten-3">
    <div class="nav-wrapper container">
        <a href="#" class="brand-logo black-text">Post-it</a>
        <ul class="right hide-on-med-and-down">
            <li routerLinkActive="active"><a class="black-text" routerLink="/posts">Αγγελίες</a>
            </li>
            <li routerLinkActive="active"><a class="black-text" routerLink="/contact">Επικοινωνία</a>
            </li>
        </ul>

        <button class="transparent-button right hide-on-med-and-up show-on-medium-and-down" mat-icon-button
            [matMenuTriggerFor]="menu">
            <i class="large material-icons">menu</i>
        </button>
        <mat-menu class="transparent-button" #menu="matMenu">
            <ul class="">
                <button mat-menu-item>
                    <li routerLinkActive="active"><a class="black-text" routerLink="/posts">Αγγελίες</a>
                    </li>
                </button>
                <button mat-menu-item>
                    <li routerLinkActive="active"><a class="black-text" routerLink="/contact">Επικοινωνία</a>
                    </li>
                </button>
            </ul>
        </mat-menu>

    </div>
</nav>