<div class="section lime lighten-5">
  <div class="container">

    <!-- <a href="#modal1" class="waves-effect waves-light btn modal-trigger">+ Δημιουργία αγγελιας</a> -->

    <h2 class="center">Αναζήτηση με βάση λέξεις-κλειδιά</h2>

    <div class="row center">
      <mat-form-field appearance="fill">
        <mat-label>Είδος Αγγελίας</mat-label>
        <mat-select>
          <mat-option *ngFor="let jobSearchType of jobSearchTypes" [value]="jobSearchType">
            {{jobSearchType}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Επάγγελμα</mat-label>
        <mat-select>
          <mat-option *ngFor="let jobType of jobTypesList" [value]="jobType">
            {{jobType}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Περιοχή</mat-label>
        <mat-select>
          <mat-option *ngFor="let workingPlace of workingPlaces" [value]="workingPlace">
            {{workingPlace}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <br>

  <div class="container-fluid">
    <div class="row">
      <div *ngFor="let post of posts; let i = index;">
        <div class="col ">
          <!--s3-->

          <div class="row">
            <div class="col s12 m6">
              <div class="card lime lighten-4">
                <div class="card-content black-text">
                  <span class="card-title">
                    <h3>{{ post.UserName }} - {{ post.JobName  }}</h3>
                  </span>
                  <span class="black-text">
                    {{ post.Notes }}
                  </span>
                </div>
                <div class="card-action">
                  <mat-tab-group>
                    <mat-tab label="Περιοχή">{{ post.Place }}</mat-tab>
                    <mat-tab label="Email">{{ post.Email }}</mat-tab>
                    <mat-tab label="Τηλ.">{{ post.Phone }}</mat-tab>
                  </mat-tab-group>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>