.example-card {
    max-width: 20rem;
    max-height: 20rem;
  }

  .mat-card-content {
    max-width: 15rem;
    min-height: 10rem;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  ::ng-deep .mat-tab-label
  {
    height: 27px !important;
    min-height: 5px!important;
    margin: 3px!important;
    width: 90px!important;
    min-width: 5px!important;
  }
  