.example-card {
    max-width: 20rem;
    max-height: 20rem;
    min-width: 20rem;
    min-height: 20rem;
    margin: 3rem 3rem 3rem 3rem ;
    padding: 3rem 3rem 3rem 3rem ;
    position: relative;
  }

  .mat-card-content {
    max-width: 15rem;
    min-height: 10rem;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  ::ng-deep .mat-tab-label
  {
    height: 27px !important;
    min-height: 5px!important;
    margin: 3px!important;
    width: 90px!important;
    min-width: 5px!important;
  }
  

/* .card-panel {
  max-width: 20rem;
  max-height: 20rem;
  min-width: 20rem;
  min-height: 20rem;
  position: relative;
} */

.card {
  max-width: 19.5rem;
  max-height: 20rem;
  min-width: 18rem;
  min-height: 20rem;
  position: relative;
}

.card-content {
  max-width: 19.5rem;
  max-height: 15rem;
  min-width: 18rem;
  min-height: 15rem;
  position: relative;
  overflow-y:scroll;
}

.sticky-card-details {
  position:absolute;
  bottom: 0;
  height: 50px;
}

.mat-form-field {
  margin: 1rem;
}